
/* general */
.pl-button {
    padding: 8px 15px;
    border-radius: 25px;
    color: white;
    border: none;
}

.lens {
    width: 1.7rem;
}

/* header */

header .header-top {
    width: 100vw;
    background-color: black;
}

header .header-top img {
    width: 6rem; 
}

header  a{
    text-decoration: none;
    color: black;
}

header div ul li .chevron {
    width: 0.7rem;
}

header li {
    list-style: none;
}

header .pl-button {
    background-color: #363636;
}

header nav .navbar-rg  {
    font-size: 0.9rem;
}

/* main */
/* banner-returnal */
main .banner-returnal {
    background-color: thistle;
    width: 100vw;
}

main .banner-returnal .banner-row {
    height: 590px;
}