/* general */
body {
    font-family: Arial, Helvetica, sans-serif;
}
.pl-button {
    padding: 8px 15px;
    border-radius: 25px;
    color: white;
    border: none;
}

.lens {
    width: 1.7rem;
}

h2 {
    font-size: 2.5rem;
}

.description-writes {
    color: #727272;
    font-size: 1.1rem;
}

/* header */
header {
    font-family: helvetica;
}
header .header-top {
    width: 100vw;
    background-color: black;
}

header .header-top img {
    width: 6rem; 
}

header  a{
    text-decoration: none;
    color: black;
}

header div ul li .chevron {
    width: 0.7rem;
}

header li {
    list-style: none;
}

header .pl-button {
    background-color: #363636;
}

header nav .navbar-rg  {
    font-size: 0.9rem;
}

/* main */
/* banner-returnal */
main .banner-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
    width: 100vw;
    color: white;
}

main .banner-returnal .banner-row {
    height: 590px;
}

main .banner-returnal .returnal-description img {
    width: 16rem;    
}

main .banner-returnal .returnal-description .pl-button {
    background-color: #cd3d0f;
}

/* games */
.games a>img {
    width: 100%;
    border-radius: 15px;
}

/* writes */
.writes div>div {
    color: #0072ce;
}

/* devices  */
.devices div .pl-button {
    background-color: #2d64e6;
}

.devices img {
    width: 100%;
}

.devices .small-devices {
    width: 60%;
}

.device-container {
    filter: grayscale(70%);
    opacity: 70%;
}

.device-container-active {
    border-bottom: 2px solid #2d64e6;
}

.device-container:hover {
    filter: none;
    opacity: 100%;
    border-bottom: 2px solid #2d64e6;
}

.small-devices-description {
    display: none;
}

@media screen and (min-width: 768px) {
    .small-devices-description {
        display: block;
    }
}

/* banner-itt */
main .banner-itt {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position-x: center;
    width: 100vw;
    color: white;
}

main .banner-itt .banner-row {
    height: 590px;
}

main .banner-itt .itt-description img {
    width: 16rem;    
}

main .banner-itt .itt-description .pl-button {
    background-color: #cd3d0f;
}